body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: black;
    color: white;
}

.loadSaves {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: auto;    
    padding: 0;
}

h1, h2, h3 {
    width: fit-content;
    padding: 0;
    margin: 0;
}

.loadState {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: green;
}

.loadLeft {
    /* width: 50%;
    grid-column: 1/2;
    grid-row: 1; */
    /* background-color: white; */
    padding-left: 20px;
    
}

.loadRight {
    display: grid;
    grid-template-rows: 3/4 1/4;
}

.timeStamp {
    display: flex;
    justify-content: flex-end;
    padding: 0 1vw 1vw 0;
    gap: 10px;
}

.loadNumber {
    position: absolute;
    font-size: 5rem;
    color: rgba(255, 255, 255, 0.515);
}

.loadTitle, .loadRight {
    padding: 15px 0 0 20px;
}