:root {
    --OTgrey: #434342;
    --OTwhite: #f3f3f3;
    --OTblack: #000;

    --OTblackT: #1b1b1bd3;
    --OTwhiteT: #ffffff44;

    --OTgreen: #156816;
    --OTblue: #025584;
    --OTgrey: #414141;

    --OTbeige: #e4d5b7;
}

* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: black;
    color: white;
    font-size: 16px; /*1 rem = 16px */
}

body {
    width: 100%;
    height: 100%;
}

.loadSaves {
    display: flex;
    flex-direction: column;
    width: 80vw;
    max-width: 1100px;
    min-width: 350px;
    margin:  auto;    
    gap: 10px;
}


h1, h2, h3, h4 {
    width: fit-content;
}

.loadTitle {
    position: relative;
    z-index: 1;
}

.time {
    letter-spacing: 1px;
}

.time, .loadTitle h2{
    font-size: 1.5rem;
} 

.loadTitle h2, .loadTitle h4 {
    padding: 1rem 0 0 1rem;
}

.loadTitle h4 {
    font-size: 1.25rem;
}

.loadState {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;
    border: 2px solid var(--OTgrey);
    opacity: .8;
    transition: opacity 0.25s ease;
    z-index: 1;
}

.loadLeft {
    position: relative;
    padding-left: 20px;
}

.loadLeft::before {
    position: absolute;
    content: "";
    background-color: var(--OTgrey);
    height: 5px;
    width: 95%;
    bottom: 5%;
    left: 5%;
}

.loadRight {
    display: grid;
    grid-template-rows: 3/4 1/4;
    margin: 0 5px 0 0;
    padding: 5px 0 0 10px;
}

.timeStamp {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    gap: 10px;
}

.timeStamp img {
    width: 20px;
    height: 20px;
    padding: 3px 0 0 0;
}

.loadNumber {
    position: absolute;
    font-size: 8rem;
    padding: 0;
    margin: 0;
    color: var(--OTgrey);
    z-index: 2;
}

.loadTitle {
    padding: 15px 0 0 20px;
    z-index: 10;
}


.flexRow {
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, transparent, var(--OTgrey));
}

.flexRow img {
    right: 0;
    height: 100px;
    width: 80px;
    object-fit: contain;
}

.flexRow h3 {
    min-width: 72px;
}

.hand {
    position: absolute;
    width: 20px;
    height: 20px;
    transform: translate(-50px, 60px);
    display: none;
}

.loadState:hover {
    opacity: 1;

    .hand {
        display: inline;
    }
}
.footer {
    display: flex;
    position: fixed;
    bottom: 0;
    display: flex;
    border-top: 3px solid var(--OTwhiteT);
    width: 100%;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    background-color: var(--OTblack);
}

.footer h4 {
    padding: 10px 0 10px 10px;
}

.button {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.button .circle {
    background-color: var(--OTbeige) ;
    border-radius: 50%;
    padding: 5px 8px 5px 8px;
    color: var(--OTblack);
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.button {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.button .circle {
    background-color: var(--OTbeige) ;
    border-radius: 90%;
    padding: 5px 8px 5px 8px;
    color: black;
}

.footer a {
    padding: 10px 0 10px 0;
    font-size: 1rem;
    color: var(--OTwhite)
}

.footer h4 {
    color: var(--OTbeige);
}

a {
    text-decoration: none;
    color: var(--OTwhite);
}


.spacer {
    height: 65px;
    width: 100%;
    content: "";
}

@media only screen and (max-width: 900px){
    .sprite4 {
        display: none;
    }
}

@media only screen and (max-width: 800px){
    .sprite3 {
        display: none;
    }
}

@media only screen and (max-width: 650px){
    .sprite2 {
        display: none;
    }
}

@media only screen and (max-width: 600px){    
    .time, .loadTitle h2{
        font-size: 1.25rem;
    } 
    
    .loadTitle h2, .loadTitle h4 {
        padding: 0.25rem 0 0 0.25rem;
    }
    
    .loadTitle h4 {
        font-size: 1rem;
    }
}

/* * {
    outline: 1px solid #f00 !important;
  }  */