* {
    margin: 0;
    padding: 0;
  }

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

body {
    width: 100%;
    height: 100%;
    color: white;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: center;
    align-items: center;
    padding: 20vh 0 10vh 0;
    letter-spacing: 2px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.title h1 {
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 5rem; 
    text-shadow: 1px 1px 2px white;
}

.title h1::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    content: "";
    height: 0.1rem;
    background-color: white;
}

.options {
    position: relative;
    padding: 10px;
    display: flex;
    width: 40%;
    max-width: 170px;
    margin: auto;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.options::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    content: "";
    height: 0.1rem;
    background-color: rgba(255, 255, 255, 0.521);
}

.options::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    content: "";
    height: 0.1rem;
    background-color: rgba(255, 255, 255, 0.521);
}

.options li{
    opacity: .8;
    margin: 5px;
}

.options li:hover {
    opacity: 1;
    list-style: inside;
    list-style-image: url('../svgs/hand.svg');
    text-shadow: 1px 1px 2px white;
    translate: -12px 0;
}

.bgImage img, .bgBorder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.bgImage img{
    width: 95%;
    height: 95%;
    z-index: -1;
    opacity: .7;
    object-fit: cover;
    transition: opacity 1s ease;
}

.bgBorder {
    background: radial-gradient(ellipse, transparent, black 77%);
    content: "";
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.footer {
    position: absolute;
    width: 80%;
    margin: 0;
    padding: 0;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}

.footer h2, .footer h3 {
    text-align: center;
    color: white;
}

.footer h2 {
    font-size: 1rem;
}

.footer h3 {
    font-size: 0.75rem;
}

span {
    font-size: 0.5rem;
}


.music {
    position: absolute;
    top:0;
    right:0;
}

@media (max-width: 500px) {
    .title h1 {
        font-size: 3rem; 
    }
    .music {
        width: 65%;
    }
}

@media only screen and (max-height: 450px) {
    .title {
        padding: 8vh 0 6vh 0;
    }

    .title h1 {
        font-size: 2.5rem; 
    }

    a {
        font-size: 1rem;
    }

    .footer h2 {
        font-size: 0.9rem;
    }

    .footer h3 {
        font-size: 0.7rem;
    }
}

@media only screen and (max-height: 350px) {    
    .footer {
        position: absolute;
        width: 20%;
        margin: 0;
        padding: 0;
        bottom: 0;
        left: 1%;
        transform: translate(0%, 0%);
    }
}

/* 
* {
    outline: 1px solid #f00 !important;
  } */