:root {
    --OTwhite: #fff;
    --OTblack: #000;
    --OTtransparent: #000000d3;
    --OTblackT: #1b1b1bd3;
    --OTwhiteT: #ffffff44;

    --OTgreen: #156816;
    --OTblue: #025584;
    --OTgrey: #79787d;

    --OTbeige: #e4d5b7;
}

* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--OTblack);
    font-size: 16px; /*1 rem = 16px */
}

body {
    width: 100%;
    height: 100%;
}

.background img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*maybe ad a media query to shift this up on larger screens */
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;
    object-fit: cover;
    filter: blur(1px);
}

.title h1{
    font-size: 1.5rem;
}

.option h1, .metric h1 {
    font-size: 1.25rem;
}

.info h2, .info h1{
    font-size: 1rem;
}

.icon h3 {
    font-size: 0.8rem;
    padding: 0 0 0 1px;
}

.numbers h1 {
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.subNumber {
    font-size: 1rem;
    letter-spacing: 1px;
}

.tavern {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;   
}


.leftSide {
    width: 50%; /*may need to change with smaller screens*/
}


.title, .option {
    padding-left: 30px
}

.option{
    letter-spacing: -1px;
    
}

.title {
    padding-top: 1rem;
    border-bottom: 3px solid var(--OTwhiteT);
    background: linear-gradient(90deg, var(--OTblackT), transparent 80%);
}

.optionsList {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    padding-top: 4rem;
}


.optionContainer {
    display: flex;
    flex-direction: row;
    max-width: 300px;
    opacity: 0.8;
}

.optionContainer:hover {
    opacity: 1;
}

.option {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--OTblackT);
}

.title h1, .option h1, .metric h1, 
.info h2, .info h1, .numbers h1,
.metric h1 {
    color: var(--OTwhite);
}

.subNumber, .stat h3, a, .footer h4{
    color: var(--OTgrey);
}

.triangle {
    border-top: 20px solid transparent;
    border-left: 20px solid var(--OTblackT);
    border-bottom: 20px solid transparent; 
}



.rightSide {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
    margin: 0 0 0 auto;
    border-left: 3px solid var(--OTwhiteT);
    background-color: var(--OTtransparent);
}

.metric img {
    height: 20px;
    width: 20px;
}

.metrics {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
}

.metric {
    display: flex;
    /* padding: 5px 0px 5px 30px; */
    /* padding: 5px 0 5px 0; */
    gap: 50px;
    justify-content: space-between;
    letter-spacing: 1px;
}

.characterContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 2rem 0 0 ;
}

.character {
    display: flex;
}


.sprite {
    width: 100px;
    height: 100px;
}

.info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.info h2, .info h1, .stat {
    width: 90%;
    margin: 0 auto;
}

.characterLine {
    background-color: var(--OTwhiteT);
    height: 2px;
}

.icon {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.icon img {
    height: 1rem;
    width: 1rem;
}

.stat {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.bar {
    height: 10px;
    width: 90%;
    margin: 0 auto;
}

.health {
    background-color: var(--OTgreen);
}

.sp {
    background-color: var(--OTblue);
}

.hand {
    position: absolute;
    transform: translateX(-20px);
    display: none;
}

.option:hover{
    cursor: pointer;
    .hand {
        display: block;
    }
}


.footer {
    display: flex;
    position: fixed;
    bottom: 0;
    display: flex;
    border-top: 3px solid var(--OTwhiteT);
    width: 100%;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    background-color: var(--OTblack);
}

.footer h4 {
    padding: 10px 0 10px 10px;
}

.button {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.button .circle {
    background-color: var(--OTbeige) ;
    border-radius: 50%;
    padding: 5px 8px 5px 8px;
    color: var(--OTblack);
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.button {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.button .circle {
    background-color: var(--OTbeige) ;
    border-radius: 90%;
    padding: 5px 8px 5px 8px;
    color: black;
}

.footer a {
    padding: 10px 0 10px 0;
    font-size: 1rem;
    color: var(--OTwhite)
}

.footer h4 {
    color: var(--OTbeige);
}

a {
    text-decoration: none;
    color: var(--OTwhite);
}


@media only screen and (max-width: 1000px){
    .title h1{
        font-size: 1.5rem;
    }
    
    .option h1, .metric h1 {
        font-size: 1rem;
    }
    
    .info h2, .info h1{
        font-size: 1rem;
    }
    
    .icon h3 {
        font-size: 0.7rem;
    }
    
    .numbers h1 {
        font-size: 1rem;
    }
    
    .subNumber {
        font-size: 0.9rem;
    }

    .icon img {
        height: 0.8rem;
        width: 0.8rem;
    }
    .bar {
        height: 5px;
    }
    .characterContainer {
        padding: 0 1rem 0 0 ;
    }
}

@media only screen and (max-width: 1000px){
    .rightSide {
        width: 60%;
    }
    .leftSide {
        width: 50%;
    }
}

@media only screen and (max-width: 650px){
    .rightSide {
        width: 80%;
    }
    .leftSide {
        width: 60%;
    }
}

@media only screen and (max-width: 550px){
    .rightSide {
        width: 95%;
    }
    .leftSide {
        width: 75%;
    }
}



@media only screen and (max-width: 400px){
    .rightSide {
        width: 100%;
    }
    .leftSide {
        width: 90%;
    }
}
/* 
* {
    outline: 1px solid #f00 !important;
  } */