:root {
    --OTblue: #ddfdfdd3;
    --OTblueBright: #a6f5ffd3;

    --OTwhite: #fff;
    --OTorange: #d9b064;
    --OTtransparent: #00000053;
    --OTwhiteT: #ffffff44;
    --OTwhiteText: #e8e8e8;
    --OTtransparentWhite: #727272a2;

    --OTblack: #000;
    --OTbeige: #e4d5b7;

    --OTgrey: #efefef75;
}

* {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--OTblack);
    font-size: 16px; /*1 rem = 16px */
    color: red;
}

body {
    width: 100%;
    height: 100%;
    position: relative;
}

.background img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*maybe ad a media query to shift this up on larger screens */
    width: 90%;
    height: 90%;
    z-index: -1;
    opacity: 1;
    object-fit: cover;
}


.victoryText {
    position: absolute;
    transform: translate(30px, -45px);
    /* color: white; */
}
.victoryText h1 {
    font-size: 4rem;
}

h2 {
    font-size: 1.4rem;
}

h2 span {
    font-size: 1.2rem;
    margin: auto 0;
}

.stat h3, .setRight h3 {
    font-size: 1rem;
}

h4 {
    margin: auto 0;
}

.setRight {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bonus h2 {
    position: relative;
    font-size: 1.5rem;
    color: var(--OTwhite);
    width: fit-content;
    z-index: 1;
    background: radial-gradient(ellipse at 50%, var(--OTblue), transparent 70%);
    font-style: italic;
    /* margin: 0 0 0 auto; */
    /* background: radial-gradient(ellipse at 50%, var(--OTblue), transparent 90%); */
}
/* 
.bonus h2:before {
    position: absolute;
    background: radial-gradient(ellipse at 50%, var(--OTblue), transparent);
    content:"";
    width: 100%;
    height: 100%;
    transform: translateY(7px);
    z-index: 0;
} */

.exp h4, .jp h4 {
    font-size: .7rem;
}

.h3Small, .jp h3  {
    font-size: 0.8rem;
    letter-spacing: 0.5px;
}

.characterName h4 {
    font-size: 1rem;
}

.setRight h4 {
    font-size: 0.9rem;
}

.stat h3, .exp h4, .jp h4, .h3Small {
    color: var(--OTgrey);
}

.stat, .characterName h4, .exp h3, .jp h3, .itemsContainer h2, .victoryText h1 {
    color: var(--OTwhite);
}


.victoryContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    height: 70%;
    background: linear-gradient(90deg, var(--OTtransparent), transparent, var(--OTtransparent)),
    linear-gradient(var(--OTtransparent), transparent);


    border-top: 2px solid var(--OTwhiteT);
    border-bottom: 2px solid var(--OTwhiteT);
}

.stats {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    grid-column: 1;
}

.statContainer {
    display: flex;
    gap:0;
}

.stats, .itemsContainer {
    padding: 5vh 0 0 1vw;
}

.triangle {
    border-top: 20px solid transparent;
    border-right: 20px solid var(--OTwhiteT);
    border-bottom: 20px solid transparent; 
}

.stat {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    width: 100%;
    margin: auto;
    background: linear-gradient(90deg, var(--OTwhiteT), var(--OTwhiteT), var(--OTwhiteT),transparent);
}

.stat h3, .stat h2 {
    margin: auto 0;
}


.stat h2 {
    text-align: center;
    /* padding: 10px 0 10px 0; */
}

.bonus {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    /* text-shadow: var(--OTwhite) 1px 0 20px;  */
}

.bonusTxt{
    display: flex;
    /* justify-content: flex-end; */
    gap: 1px;
}

.bonusLine {
    height: 3px;
    margin: auto 0;
    background: radial-gradient(ellipse at 35%, var(--OTblue), transparent);
}

.untouched {
    width: calc(1.8rem * 3) ; /* Need to change based on screen size*/
}

.break {
    width: calc(1.2rem * 2) ; /* Need to change based on screen size*/
}

.domination {
    width: calc(1.3rem * 5) ; /* Need to change based on screen size*/
}

.blueTxt {
    color: var(--OTblue);
}

.characters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2.5rem;
    margin: 1vh calc(1vw + 10px) 0 calc(1vw + 10px);
}

.character {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
}

.characterName {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--OTtransparent);
}

.triangleLeft {
    border-top: 10px solid transparent;
    border-right: 10px solid var(--OTtransparent);
    border-bottom: 10px solid transparent; 
}
.triangleRight {
    border-top: 10px solid transparent;
    border-left: 10px solid var(--OTtransparent);
    border-bottom: 10px solid transparent; 
}

.exp {
    display: flex;
    /* width: 90%; */
    /* margin: auto; */
    /* margin: 0 10px 0 10px; */
}

.exp, .jp, .expBar, .characterLine {
    margin: 0 10px 0 10px;
}

.exp, .jp {
    padding: 5px 0 0 0;
}

.setRight {
    display: flex;
    margin-right: 0;
    margin-left: auto;
}

.expBar {
    height: 8px;
}

#character1 {
    background: linear-gradient(90deg, var(--OTorange) 0%, var(--OTorange) 48%, var(--OTtransparent) 48%, var(--OTtransparent));
}

#character2 {
    background: linear-gradient(90deg, var(--OTorange) 0%, var(--OTorange) 46%, var(--OTtransparent) 46%, var(--OTtransparent));
}

#character3 {
    background: linear-gradient(90deg, var(--OTorange) 0%, var(--OTorange) 40%, var(--OTtransparent) 40%, var(--OTtransparent));
}

#character4 {
    background: linear-gradient(90deg, var(--OTorange) 0%, var(--OTorange) 7%, var(--OTtransparent) 7%, var(--OTtransparent));
}

.jp {
    display: flex;
}


.characterLine {

    height: 1px;
    background-color: var(--OTwhiteText);
}

.itemsContainer {
    gap: 10px;
    grid-column: 2;
}

.itemsContainer h2 {
    padding: 0 0 1rem 1.5rem;
}

.itemsContainer h2, .characterName h4, .victoryText h1 {
    text-shadow: -0.75px 0.75px 0 black,
    0.75px 0.75px 0 black,
    0.75px -0.75px 0 black,
    -0.75px -0.75px 0 black;
}

.itemsLine {
    width: 90%;
    /* margin: 0 0 0 10px; */
    height: 1px;
    background-color: var(--OTgrey);
}


.footer {
    display: flex;
    position: fixed;
    bottom: 0;
    display: flex;
    border-top: 3px solid var(--OTwhiteT);
    width: 100%;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    background-color: var(--OTblack);
}

.footer h4 {
    padding: 10px 0 10px 10px;
}

.button {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.button .circle {
    background-color: var(--OTbeige) ;
    border-radius: 50%;
    padding: 5px 8px 5px 8px;
    color: var(--OTblack);
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.button {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.button .circle {
    background-color: var(--OTbeige) ;
    border-radius: 90%;
    padding: 5px 8px 5px 8px;
    color: black;
}

.footer a {
    padding: 10px 0 10px 0;
    font-size: 1rem;
    color: var(--OTwhite)
}

.footer h4 {
    color: var(--OTbeige);
}

a {
    text-decoration: none;
    color: var(--OTwhite);
}

.replay {
    display: block;
    position: absolute;
    right:0;
    top: 0;
    transform: translate(-100%, 100%);
    cursor: pointer;
    background-color: var(--OTbeige);
    padding: 0.4rem;
}

.replayTriangle {
    border-top: 10px solid transparent;
    border-left: 10px solid var(--OTblack);
    border-bottom: 10px solid transparent;
}

.replayTriangle.show {
    border-top: 10px solid var(--OTblack);
    border-left: 10px solid var(--OTblack);
    border-bottom: 10px solid var(--OTblack);
}


/* Animation */
.leftSide {
    /* display: none; */
    opacity: 0;
    transform: translateX(-30px);
}

.leftSide.show {
    /* display: block; */
    opacity: 1;
    transform: translateX(0px);
    animation: fade-in 1s;
}

@keyframes fade-in {
    0% {
        /* display: none; */
        opacity: 0;
        transform: translateX(-30px);
    }
    100% {
        /* display: block; */
        opacity: 1;
        transform: translateX(0px);
    }
}

.victoryText {
    opacity: 0;
}

.victoryText.show {
    opacity: 1;
    animation: appear 1s;
}

.itemsContainer {
    opacity: 0;
}

.itemsContainer.show {
    opacity: 1;
    animation: appear 0.5s;
}


.victoryContainer {
    opacity: 0;
}

.victoryContainer.show{
    opacity: 1;
    animation: appear 0.5s;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.h3Small {
    transform: translateY(1px);
}


/* Bonus Shine */
.shine {
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 3rem;
    left:50%;
    transform: scaleX(-1);
    content: "";
    background: radial-gradient(ellipse at 50%, var(--OTblueBright), transparent 70%),
    radial-gradient(ellipse at 50%, var(--OTwhite), var(--OTwhite),transparent 60%);
}

.shine.show {
    width: 0%;
    opacity: 0;
    transform: translateX(2rem);
    animation: shining 0.75s;
}

@keyframes shining {
    0% {
        opacity: 0;
        width: 0%;
    }
    50% {
        opacity: 1;
        width: 55%;
        transform: scaleX(-1);
    }

    100% {
        opacity: 0;
        width: 0;
        transform: translateX(23vw);
    }
}

@media only screen and (max-width: 800px){
    .victoryText {
        transform: translate(30px, -40px);
    }
    
    .victoryText h1 {
        font-size: 3rem;
    }
    
    h2 {
        font-size: 1rem;
    }
    
    h2 span {
        font-size: 0.9rem;
    }

    .bonusTxt {
        font-size: 1rem;
    }
    
    .stat h3, .setRight h3 {
        font-size: 0.8rem;
    }

    .bonus h2 {
        font-size: 1.3rem;
    }
        
    .exp h4, .jp h4 {
        font-size: .6rem;
    }

    .h3Small, .jp h3  {
        font-size: 0.7rem;
    }

    .characterName h4 {
        font-size: 0.9rem;
    }

    .setRight h4 {
        font-size: 0.8rem;
    }

    .untouched {
        width: calc(1.6rem * 3); 
    }
    
    .break {
        width: 2rem; 
    }
    
    .domination {
        width: calc(1.3rem * 4);
    }
    .h3Small {
        /* position: relative; */
        transform: translateY(0px);
    }
}

@media only screen and (max-width: 720px){
    .characterName h4{
        letter-spacing: 0.5px;
    }
}

@media only screen and (max-width: 550px){
    .victoryContainer {
        z-index: 2;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    
    .itemsContainer {
        grid-row: 2;
        grid-column: 1;
    }

    .stats{
        padding: 5vh 1vw 0 1vw;
    }

    .itemsContainer {
        padding: 3vh 0 0 1vw;
    }

    .itemsLine {
        width: 99%;
    }

    .characterName h4{
        font-size: 0.8rem;
        letter-spacing: 0px;
    }

    @keyframes shining {
        0% {
            opacity: 0;
            width: 0%;
        }
        80% {
            opacity: 1;
            width: 55%;
            transform: scaleX(-1);
        }
    
        100% {
            opacity: 0;
            width: 0;
            transform: translateX(45vw);
        }
    }
}
/* * {
    outline: 1px solid #f00 !important;
  } */