:root {
    --OTgrey: #63645c;
    --OTblue: #d7fdfd;
    --OTwhite: #ffffff;
    --OTorange: #d9b064;
    --OTgreen: #576859;
    --OTtransparent: #00000053;
    --OTwhiteT: #ffffff44;
    --OTwhiteText: #e8e8e8;
    --OTtransparentWhite: #727272a2;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

.background img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*maybe ad a media query to shift this up on larger screens */
    width: 90%;
    /* max-width: 1200px; */
    height: 90%;
    /* aspect-ratio: 16/9; */
    z-index: -1;
    opacity: 1;
    object-fit: cover;
}

* {
    padding: 0;
    margin: 0;
    letter-spacing: 1px;
}

.victoryText {
    position: absolute;
    transform: translate(30px, -45px);
    /* color: white; */
}

/* 
h4 {

} */


.victoryContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    height: 70%;
    background: linear-gradient(90deg, var(--OTtransparent), transparent, var(--OTtransparent)),
    linear-gradient(var(--OTtransparent), transparent);


    border-top: 2px solid var(--OTwhiteT);
    border-bottom: 2px solid var(--OTwhiteT);
}

.statContainer {
    display: flex;
    gap:0;
}

.leftSide, .itemsContainer {
    padding: 5vh 0 5vh 1vw;
}



.stats {
    display: flex;
    flex-direction: column;
    gap: 10px;
    grid-column: 1;
    /* grid-row: 1; */
}

.triangle {
    border-top: 20px solid transparent;
    border-right: 40px solid var(--OTwhiteT);
    border-bottom: 20px solid transparent; 
    /* display: none; */
}

.stat {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    width: 100%;
    margin: auto;
    /* display: flex; */
    /* opacity: 1; */
    background: linear-gradient(90deg, var(--OTwhiteT), var(--OTwhiteT), var(--OTwhiteT),transparent);
    /* color: white; */
}

.stat h3, .stat h2 {
    margin: auto 0;
}

.stat h3 {
    text-align: left;
    /* padding: 10px 0 10px 0; */
}

.stat h3, .exp h4, .jp h4, .h3Small {
    color: var(--OTwhiteText);
}

.stat, .characterName h4, .exp h3, .jp h3, .itemsContainer h2, .victoryText h1 {
    color: var(--OTwhite)
}

.stat h2 {
    text-align: center;
    /* padding: 10px 0 10px 0; */
}

.bonus {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-shadow: var(--OTwhite) 1px 0 20px; 
}

.bonus h2{
    text-align: right;
    /* padding: 0; */
    font-style: italic;
    font-size: 1.5rem;

}

.bonus h2, .bonusTxt h4 {
    color: var(--OTblue);
}

.itemsContainer h2 {
    font-size: 1.5rem;
    /* padding: 0 0 0 20px; */
    /* color: var(--OTwhite); */
}

.bonusTxt {
    display: flex;
    justify-content: flex-end;
    gap: 1px;
}

.bonusLine {
    height: 3px;
    margin: 9px 0 0 0;
    background: radial-gradient(circle at 35%, var(--OTblue), transparent);
}

.untouched {
    width: calc(1.5rem * 3) ; /* Need to change based on screen size*/
}

.break {
    width: calc(1.4rem * 1) ; /* Need to change based on screen size*/
}

.domination {
    width: calc(1.4rem * 3.5) ; /* Need to change based on screen size*/
}

.blueTxt {
    color: var(--OTblue);
}

.characters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 80%;
    margin: auto;
    gap: 40px;
    /* width: 70%; */
    /* grid-row: 2; */
    grid-column: 1;
    padding: 50px 0 0 0;
}

.character {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
}

.characterName {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
    background-color: var(--OTtransparent);
    /* color: var(--OTwhite); */
    /* border-top: 1px solid var(--OTwhiteT);
    border-bottom: 1px solid var(--OTwhiteT); */
}

.triangleLeft {
    /* border-image: linear-gradient(white, var(--OTblue)); */
    border-top: 10px solid transparent;
    border-right: 15px solid var(--OTtransparent);
    border-bottom: 10px solid transparent; 
}
.triangleRight {
    border-top: 10px solid transparent;
    border-left: 15px solid var(--OTtransparent);
    border-bottom: 10px solid transparent; 
    /* padding-left: auto; */
    /* padding-right: 0; */
}

.exp {
    display: flex;
    width: 90%;
    margin: auto;
}

.exp, .jp {
    padding: 5px 0 0 0;
}

.setRight {
    display: flex;
    margin-right: 0;
    margin-left: auto;
}

.expBar {
    /* content: ""; */
    width: 90%;
    margin: auto;
    height: 8px;
    /* background-color: red, blue; */
}

#character1 {
    background: linear-gradient(90deg, var(--OTorange) 0%, var(--OTorange) 48%, var(--OTtransparent) 48%, var(--OTtransparent));
}

#character2 {
    background: linear-gradient(90deg, var(--OTorange) 0%, var(--OTorange) 46%, var(--OTtransparent) 46%, var(--OTtransparent));
}

#character3 {
    background: linear-gradient(90deg, var(--OTorange) 0%, var(--OTorange) 40%, var(--OTtransparent) 40%, var(--OTtransparent));
}

#character4 {
    background: linear-gradient(90deg, var(--OTorange) 0%, var(--OTorange) 7%, var(--OTtransparent) 7%, var(--OTtransparent));
}

a {
    text-decoration: none;
    background-color: var(--OTwhite);
    color: black;
    border-radius: 45px;
    padding: 10px;
    border: 0.75px solid black; 
    position: absolute;
    top: -15px;
    right:15px;
    /* transform: translate(30px, -45px); */
}

.jp {
    display: flex;
    width: 90%;
    margin: auto;
    /* margin: 5px 20px 0 20px; */
}

.characterLine {
    width: 90%;
    margin: auto;
    height: 3px;
    background-color: var(--OTwhiteText);
}

.itemsContainer {
    /* margin: 4px 0 0 3px; */
    gap: 10px;
    /* grid-row: 1/3; */
    grid-column: 2;
}

.itemsContainer h2 {
    padding: 0 0 20px 20px;
}

.itemsContainer h2, .characterName h4, .victoryText h1 {
    text-shadow: -0.75px 0.75px 0 black,
    0.75px 0.75px 0 black,
    0.75px -0.75px 0 black,
    -0.75px -0.75px 0 black;
}

.itemsLine {
    width: 90%;
    /* margin: 0 0 0 10px; */
    height: 3px;
    background-color: var(--OTwhiteText);
}


.victoryText h1 {
    font-size: 4rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.1rem;
}

h4 {
    margin: auto 0;
}

.h3Small {
    font-size: 1rem;
}


/*  height: 65%; */

@media (max-width: 770px){
    .victoryText h1 {
        font-size: 4rem;
    }
    
    h2 {
        font-size: 1rem;
    }
    
    h3 {
        font-size: 0.8rem;
    }

    h4 {
        font-size: 0.9rem;
    }
    
    .h3Small {
        font-size: 1rem;
    }

    .bonus h2, .bonusTxt h4{
        font-size: 1rem;
    }

    .bonus {
        padding-right: 30px;
    }

    .background img {
        position: absolute;
        /* top: 50%; */
        /* left: 50%; */
        /* transform: translate(-50%, -50%); maybe ad a media query to shift this up on larger screens */
        width: 100%;
        /* max-width: 1200px; */
        height: 90%;
        /* aspect-ratio: 16/9; */
        z-index: -1;
        opacity: 1;
        object-fit: cover;
    }
    .victoryContainer {
        width: 100%;
        height: 65%;
        /* padding-left: 20px; */
        /* margin: auto; */
        grid-template-columns: 1fr;
    }

    .itemsContainer {
        display: none;
    }
}

@media (max-width: 500px) {
    .characters {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .victoryContainer {
        width: 100%;
        height: 75%;
        /* padding-left: 20px; */
        /* margin: auto; */
        grid-template-columns: 1fr;
    }
}

@media (min-width: 1600px){
    .victoryContainer{
        height: 60%;
    }
}




/* @media (max-width: 800px) and (max-height: 800px){
    .victoryContainer{
        height: 70%;
    }
} */

/* 
@media (min-width: 500px) and (max-width: 800px) and (max-height: 900px){
    .characters {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .itemsContainer {
        display: none;
    }
}

@media (min-width: 800px) and (max-width: 1100px) and (min-height: 1100px) {
    .characters {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
} */
